@color-primary: #333;

.wrapper() {
    width: 65%;
    margin: 0 auto;
}
.wrapper {
    .wrapper();
}

nav{
text-align: center;
}
nav div{
display: inline-block;
}
nav div ul li{
display: inline;
}
.nav-left{
    float: left;
}
.nav-right{
float: right;
}
main {
    &:extend(.wrapper);
    color: @color-primary;
}

footer {
    &:extend(.wrapper);
    text-align: center;
}
footer nav ul a li{
    display: inline;
}