@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Reset default css */
/* Fonts */
/* Colors */
/* Boutons */
.button {
  background-color: cornflowerblue;
  color: #fff;
  display: block;
  width: 100%;
  padding: 1%;
}
/* margin */
.margin-bloc {
  margin-top: 3%;
  margin-bottom: 3%;
}
/* general */
body {
  font: 143.75%/1.5em 'Open Sans', sans-serif;
  color: #1d1f20;
  margin: 5px;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.5em;
}
p {
  margin-bottom: 1.5em;
}
img {
  width: 100%;
}
/* header + menu */
.banner {
  text-align: center;
}
.main-nav a {
  margin-bottom: 2%;
}
@media screen and (min-width: 1024px) {
  .banner,
  footer,
  main {
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: auto;
  }
  .main-nav a {
    display: inline-block;
  }
  .button {
    border-radius: 3px 3px 3px;
    width: auto;
    padding: 1%;
  }
}
