.wrapper,
main,
footer {
  width: 65%;
  margin: 0 auto;
}
nav {
  text-align: center;
}
nav div {
  display: inline-block;
}
nav div ul li {
  display: inline;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
main {
  color: #333333;
}
footer {
  text-align: center;
}
footer nav ul a li {
  display: inline;
}
