@color-primary: #FBFBFB;
@color-header: #fff;

.wrapper() {
    width: 65%;
    margin: 0 auto;
}
.wrapper {
    .wrapper();
}

.fullpage(){
    width: 100%;
    padding: 0;
}
.fullpage{
    .fullpage();
}

body{
background-color: @color-primary;
    margin: 0;
    padding: 0;
}
nav{
    &:extend(.fullpage);
    text-align: center;
    background: @color-header;
}
nav div{
display: inline-block;
}
nav div ul li{
display: inline;
}
.nav-left{
    float: left;
}
.nav-right{
float: right;
}
main {
    &:extend(.wrapper);
}

footer {
    &:extend(.fullpage);
    text-align: center;
}
footer nav ul a li{
    display: inline;
}