@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Reset default css */
/* Fonts */
/* Colors */
/* Boutons */
.button {
  background-color: cornflowerblue;
  color: #fff;
  padding: 10px;
  display: block;
  border-radius: 3px 3px 3px;
}
/* margin */
.margin-bloc {
  margin-top: 3%;
  margin-bottom: 3%;
}
body {
  font: 143.75%/1.5em 'Open Sans', sans-serif;
  color: #1d1f20;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.5em;
}
p {
  margin-bottom: 1.5em;
}
img {
  width: 100%;
}
.banner {
  text-align: center;
}
.main-header,
.main-nav {
  display: inline-block;
}
.main-nav a {
  display: inline-block;
}
@media -queries screen and (min-width: 2224px) {
  .banner,
  footer,
  main {
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: none;
  }
}
