/*  
    projet : MOBILE FIRST RAMMSTEIN
    auteur : Alexandre Prevots
    Licence ATC Classe Développeur
*/

/* Reset default css */
@import "variables.less";

/* Reset default css */
@import "reset.css";



@import url(https://fonts.googleapis.com/css?family=Open+Sans);



/* Boutons */

.button(){
    .button;
}
.button{
    background-color: #2D2D2D;
    color: #fff;
    display: block;
    width: 100%;
    padding: 1%;
}
.button:hover{
    background-color: #7D7D7D;
}

/* margin */

.margin-bloc(){
    .margin-bloc;
}
.margin-bloc{
    margin-top: 3%;
    margin-bottom: 3%;
}

/* general */
body
{
	font: unit((@font-normal / @font-root * 100), %)/1.5em 'Open Sans', sans-serif;
	color: @color-text;
    margin: 5px;
}
a{
     text-decoration: none;   
}

h1
{
	font-size: 2em;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 1em;
}
h2
{
	&:extend(h1);
	font-size: 1.5em;
}
p
{
	margin-bottom: 1.5em;  
}
img{
    width: 100%;
}

/* header + menu */
.banner
{
    text-align: center;
}
.main-nav a{
    margin-bottom: 2%;
}


@media screen and (min-width: @device-width-medium){
    .banner, footer, main{
           .wrapper(12); 
    }
    img{
        width: auto;
    }
    .main-nav a{
        display: inline-block;
    }
    .button{
        border-radius: 3px 3px 3px;
        width: auto;
        padding: 1%;
}
}